CompileFlags:
  Add:
    - -ICore/Inc
    - -IDrivers/STM32F1xx_HAL_Driver/Inc
    - -IDrivers/STM32F1xx_HAL_Driver/Inc/Legacy
    - -IMiddlewares/Third_Party/FreeRTOS/Source/include
    - -IMiddlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2
    - -IMiddlewares/Third_Party/FreeRTOS/Source/portable/RVDS/ARM_CM3
    - -IDrivers/CMSIS/Device/ST/STM32F1xx/Include
    - -IDrivers/CMSIS/Include
    - -DUSE_HAL_DRIVER
    - -DSTM32F103xB
  Remove: []
